<section class="home">
  <div class="blue-overlay">
    <div class="container">
      <div>
        <%= link_to image_tag('foldesk-logo.svg'), root_url, class: 'foldesk-logo' %>
        <button class="button-blog"><a href="http://foldesk-blog.herokuapp.com", target="_blank">Blog</a></button>
      </div>
      
      <div class="heading">
        <h1><span>UNFOLD</span> YOUR KNOWLEDGE</h1>
        <p class="sub-heading">YOU ALL ARE GREAT IN SOMETHING, BUT YOUR KNOWLEDGE HAS NOT BEEN SHARED YET. HELP THE WORLD AND <span>CONTRIBUTE!</span> FOLDESK ALLOWS YOU TO DO IT IN THE EASIEST WAY POSSIBLE</p>
        <p class="release-date">FOLDESK LAUNCHES THIS WINTER !!</p>
      </div>

      <div class="notify-me">
        <input type="text", placeholder="Your email address"></input>
        <button>NOTIFY ME</button>
      </div>

    </div>

    <div class="learn-more">
      <p>LEARN MORE</p>
      <p><i class="fa fa-sort-desc"></i></p>
    </div>

  </div>
</section>

<section class="our-philosophy">
  <div class="container">
    <div class="content">
      <h2>OUR PHILOSOPHY</h2>
      <span class="underline"></span>
      <p>Everyone is a source of information which has not been shared yet. Information is not something steady and given. It is instead a process of autoproduction which, just through Foldesk, should reach what it really is. The truth is the whole, but the whole is complete just with its development and evolution.</p>
      <button class="manifesto">MANIFESTO</button>
    </div>
  </div>
</section>

<section class="follow-blog">
  <div class="container">
    <div class="content">
      <p>Follow our <span>blog</span> to see what we are up to at foldesk.</p>
    </div>
  </div>
</section>

<section class="our-team">
  <div class="container">
    <div class="content">
      <h2>OUR TEAM</h2>
      <span class="underline"></span>

      <div class="team-container">
        <div class="team-member">
          <%= image_tag('team/stefano-botter.png') %>
          <h3>Stefano Botter</h3>
          <p>CO-FOUNDER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/battista-bellini.png') %>
          <h3>Battista Bellini</h3>
          <p>CO-FOUNDER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/fabrizio-bassi.png') %>
          <h3>Fabrizio Bassi</h3>
          <p>ICT MANAGER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/mario-alberti.png') %>
          <h3>Mario Alberti</h3>
          <p>INDEPENDENT ADVISOR</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/sandeep-gajula.png') %>
          <h3>Sandeep Gajula</h3>
          <p>INTERACTION DESIGNER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/ali-servet-donmez.png') %>
          <h3>Ali Servet Dönmez</h3>
          <p>DEVELOPER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/piero-dotti.png') %>
          <h3>Piero Dotti</h3>
          <p>DEVELOPER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>

        <div class="team-member">
          <%= image_tag('team/marco-falgari.png') %>
          <h3>Marco Falgari</h3>
          <p>DEVELOPER</p>
          <button class="linkedin"><a href="https://www.linkedin.com/pub/stefano-botter/62/402/335/en", target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reach-out">
  <div class="container">
    <div class="content">
      <h2>REACH OUT TO US</h2>
      <span class="underline"></span>
      <p>Feel free to email us to provide some feedback and give us suggestions, or to just say <span>hello!</span></p>
      <h4><a class="mailto">founders@foldesk.com</a></h4>

      <div class="fd-social-buttons">
        <button><a href="https://twitter.com/foldeskapp", target="_blank"><i class="fa fa-twitter"></i></a></button>

        <button><a href="https://www.facebook.com/foldesk", target="_blank"><i class="fa fa-facebook"></i></a></button>

        <button><a href="https://plus.google.com/107605130391763494474/about", target="_blank"><i class="fa fa-google-plus"></i></a></button>

        <button><a href="https://www.linkedin.com/company/5279881?trk=tyah&trkInfo=tarId%3A1407421105895%2Ctas%3Afoldesk%2Cidx%3A1-1-1", target="_blank"><i class="fa fa-linkedin"></i></a></button>

        <button><a href="", target="_blank"><i class="fa fa-pinterest"></i></a></button>
      </div>
    </div>
  </div>
</section>
